/*
* @Author: mayuxin
* @Date:   2017-12-01 09:29:31
* @Last Modified by:   mayuxin
* @Last Modified time: 2021-12-07 18:10:30
*/

@CHARSET "UTF-8";

body,
menu,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

em {
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

abbr,
acronym {
    border: 0;
}

strike {
    display: inline;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a:link,
a:visited {
    color: #333333;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hide from IE Mac */
.clearfix {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.none {
    display: none;
}

html {
    font-size: 100px;
}

body {
    background: #F6F7F7;
    overflow-y: auto;
    width: 100%;
    -webkit-touch-callout: none;
    max-width: 640px;
    margin: auto;
}

.rootcontent {
    width: 100%;
    height: 100%;
    position: relative;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
    height: auto;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 96px;
    padding-top: 10px;
    /*padding-top: 15px;*/
    line-height: 160%;
    font-size: 0.18rem;
    word-wrap: break-word;
    color: #000000;
    text-align: justify;
    text-justify: distribute;
}
.qrcode{
	max-width: 100%;
	object-fit: contain;
}